<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Tutor Schedule</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style type="text/css">
    .search-margin{
        margin-left: 100px;
    }
</style>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">
<!-- Bootstrap core CSS -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{% static 'css/cover.css' %}" rel="stylesheet">
    <style type="text/css">
            .search-margin{
                margin-left: 275px;
            }
        .bottom-mar{
            margin-bottom: 100px;
        }
        </style>
</head>
<body >
    {% if user.is_authenticated %}
    <div class="d-flex w-100 h-25 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">QuickestTutor</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="welcome">Home</a>
                    <a class="nav-link" href="studentProfile">My Profile</a>
                    <a class="nav-link" href="tutorProfile">Tutor Profile</a>
                    <a class="nav-link" href="studentSchedule">My Schedule</a>
                    <a class="nav-link active" href="tutorSchedule">Tutor Schedule</a>
                    <a class="nav-link" href="locateSessions">Locate Sessions</a>
                    <a href="/accounts/logout" class= "btn btn-dark masthead-brand search-margin">Log Out</a>
                </nav>
            </div>
        </header>

<center>

    <u><h3> Your Tutor Schedule </h3></u>
    <div class="container">
    <div class="left" style="background-color: #ff802cbe;
    position: absolute;
    left: 0px;
    width: 50%;">
        <u><h5>Requested Sessions</h5></u>
        
{% for session in tutorRequestedSessions %}
<form method="POST">
    {% csrf_token %}
    <div class="row">
    <ul>
        <li>{{session.course}} with {{session.student}} at {{session.student_availability}}, in {{session.building}}</li>
        <!-- <li>{{session.building}}</li> -->
            <ul>
                <div align="left">
                <li>{{session.description}}</li>
                </div>
            </ul>
    </ul>
    </div>
    <input type="hidden" id="id" name="id" value="{{session.id}}">
    <button class="Accept" style="font-size:12pt;color:white;background-color:green;border:2px solid #336600;padding:10px" name="Accept" type="submit">Accept
    </button>
    <button class="Decline" style="font-size:12pt;color:white;background-color:red;border:2px solid #ff0000;padding:10px" name="Decline" type="submit">Decline
    </button>
</form>
{% endfor %}
</div>
<div class ="right" style="background-color: #59b94c;
position: absolute;
right: 0px;
width: 50%;">
    <u><h5>Accepted Sessions</h5></u>
{% for session in tutorAcceptedSessions %}
        <div class="row ">
    <ul>
        <li>{{session.course}} with {{session.student}} at {{session.student_availability}}, in {{session.building}}</li>
        <!-- <li>{{session.building}}</li> -->
            <ul>
                <div align="left">
                <li>{{session.description}}</li>
                </div>
            </ul>
    </ul>
        </div>
{% endfor %}
</div>
</div>


</center>
</div>
{% else %}
<meta http-equiv="refresh" content="0; URL=home">
{% endif %}
</body>
</html>                            
