{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!-- hello seeing if my branch works! -->
<body lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="{% static 'css/tutorProfile.css' %}" rel="stylesheet">

    <title>Edit Tutor Availibility</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
    <style type="text/css">
            .search-margin{
                margin-left: 275px;
            }
        .bottom-mar{
            margin-bottom: 100px;
        }


    </style>

    <!-- Font Awesome -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Moment.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"
            integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

    <!-- Tempus Dominus Bootstrap 4 -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css"
          integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"
            integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>

</head>

<body>
{% if user.is_authenticated %}
<div class="d-flex w-100 h-50 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">QuickestTutor</h3>
            <nav class="nav nav-masthead justify-content-center">
                <div style = "position:absolute; left:575px; top:20px;">
                    <a class="nav-link" href="welcome">Home</a>
                </div>
                <div style = "position:absolute; left:675px; top:20px;">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="studentProfile" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Student
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="studentProfile">Student Profile</a>
                        <a class="dropdown-item" href="studentSchedule">Student Schedule</a>
                        <a class="dropdown-item" href="allTutors">Find a Tutor</a>
                        <a class="dropdown-item" href="studentTutorSearch">Where's My Session</a>
                    </div>
                    </li>
                </div>
                <div style = "position:absolute; left:800px; top:20px;">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="tutorProfile" id="tutor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tutor
                    </a>
                    <div class="dropdown-menu" aria-labelledby="tutor">
                        <a class="dropdown-item" href="tutorProfile">Tutor Profile</a>
                        <a class="dropdown-item" href="tutorSchedule">Tutor Schedule</a>
                    </div>
                    </li>
                </div>
                    <ul class="nav navbar-nav navbar-right">
                        <a href="/accounts/logout" class= "btn btn-dark masthead-brand ">Log Out</a>
                    </ul>
                </nav>
        </div>
    </header>
    <div class="container emp-profile">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                             alt=""/>
                        <div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file"/>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>
                            {{user}}
                        </h5>
                        <h6>
                            Tutor
                        </h6>
                        <p class="proile-rating">RATING : <span>10/10</span></p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="editTPA" role="tab"
                                   aria-controls="home" aria-selected="true">Edit Availability</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-8">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="tab-pane fade show active profile-tab" id="home" role="tabpanel"
                             aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Availability (MM/DD/YYYY HH:MM)</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                        {{ tpaform.available }}
                                        <div class="input-group-append" data-target="#datetimepicker1"
                                             data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>

                                    <script>
                                  $(function () {
                                    $("#datetimepicker1").datetimepicker({
                                      format: 'MM/DD/YYYY HH:mm',
                                    });
                                  });


                                    </script>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <p></p>
                                </div>
                                <div class="col-md-6">
                                    <p></p>
                                </div>
                                <div class="col-md-6">
                                    <input type="submit" class="btn btn-primary" value="Save Changes">
                                    <span></span>
                                    <a href="tutorProfileAvailability" class="btn btn-default ">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>
{% else %}
<meta http-equiv="refresh" content="0; URL=home">
{% endif %}
</body>

</html>
