<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Student Schedule</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style type="text/css">
                            .search-margin{
                                margin-left: 100px;
                            }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
    <style type="text/css">
            .search-margin{
                margin-left: 275px;
            }
        .bottom-mar{
            margin-bottom: 100px;
        }
        </style>
</head>
<body>
    {% if user.is_authenticated %}
    <div class="d-flex w-100 h-25 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">QuickestTutor</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="welcome">Home</a>
                    <a class="nav-link" href="studentProfile">My Profile</a>
                    <a class="nav-link" href="tutorProfile">Tutor Profile</a>
                    <a class="nav-link active" href="studentSchedule">My Schedule</a>
                    <a class="nav-link" href="tutorSchedule">Tutor Schedule</a>
                    <a class="nav-link" href="locateSessions">Locate Sessions</a>
                    <a href="/accounts/logout" class= "btn btn-dark masthead-brand search-margin">Log Out</a>
                </nav>
                
            </div>
            
        </header>

<center>

    <u><h3> Schedule of Your Tutoring Sessions </h3></u>
    <div class="container">
    <div class="left" style="background-color: #ff802cbe;
    position: absolute;
    left: 0px;
    width: 50%;">
        <u><h5>Pending Sessions</h5></u>
        
{% for session in studentRequestedSessions %}
        <div class="row">
    <ul>
        <li>{{session.course}} with {{session.tutor}} at {{session.student_availability}}, in {{session.building}}</li>
            <ul>
                <div align="left">
                <li>{{session.description}}</li>
                </div>
            </ul>
    </ul>
        </div>
{% endfor %}
</div>
<div class ="right" style="background-color: #59b94c;
position: absolute;
right: 0px;
width: 50%;">
    <u><h5>Accepted Sessions</h5></u>
{% for session in tutorAcceptedSessions %}
        <div class="row ">
    <ul>
        <li>{{session.course}} with {{session.tutor}} at {{session.student_availability}}, in {{session.building}}</li>
            <ul>
                <div align="left">
                <li>{{session.description}}</li>
                </div>
            </ul>
    </ul>
        </div>
{% endfor %}
</div>
</div>

</center>
<!--
    <div django-app="TaskManager">
        <div class="container">
            <div class="content">
                <form action="" method="post">
                    {% csrf_token %}  csrf token for basic security 
                    <div class="inputContainer">
                        <input type="text" style="width: 300px;" id="description" class="taskName"
                               placeholder="What do you need to be tutored for?"
                               name="description" required>
                        <label for="description">Description</label>
                    </div>
                    <div class="inputContainer half last">
                        <i class="fa fa-caret-down selectArrow"></i>
                        <select id="category" class="taskCategory" name="category_select">
                            <option class="disabled" value="">Choose a Tutor</option>
                            {% for category in categories %}
                            <option class="" value="{{ category.name }}">{{ category.name }}
                            </option>
                            {% endfor %}
                        </select>
                        <label for="category">Tutor</label>
                    </div>
                    <div class="inputContainer half last right">
                        <input type="date" id="dueDate" class="taskDate" name="date">
                        <label for="dueDate">Tutor Session Date</label>
                    </div>
                    <div class="row">
                        <div class="col align-self-center">
                            <button class="taskAdd" name="taskAdd" type="submit"><i class="fa fa-plus icon"></i>Add
                                Session
                            </button>
                            <button class="taskDelete" name="taskDelete" formnovalidate="" type="submit"
                                    onclick="$('input#sublist').click();"><i class="fa fa-trash-o icon"></i>Cancel
                                Session
                            </button>
                        </div>
                    </div>
                    <ul class="taskList">
                        {% for todo in todos %}  django template lang - for loop 
                        <li class="taskItem">
                            <input type="checkbox" class="taskCheckbox" name="checkedbox" id="{{ todo.id }}"
                                   value="{{ todo.id }}">
                            <label for="{{ todo.id }}"><span class="complete-">{{ todo.title }}</span></label>
                            <span class="category-{{ todo.category }}">{{ todo.category }}</span>
                            <strong class="taskDate"><i class="fa fa-calendar"></i>{{ todo.due_date }}</strong>
                        </li>
                        {% endfor %}
                    </ul>taskList 
                </form>
            </div> content 
        </div> container 
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->

</div>
{% else %}
<meta http-equiv="refresh" content="0; URL=home">
{% endif %}
</body>
</html>
